@bodyWidth: 100%;
@bodyHeight: 100%;
@bodyMargin: 3%;
@bodyBgImgSource: url("../images/micro_carbon.png"); // black theme
//@bodyBgImgSource: url("../images/congruent_pentagon.png"); // green theme

@DivBgImgPatternPadding: 10px;
@DivBgImgPatternSource: url("../images/slash_it.png"); // black theme
//@DivBgImgPatternSource: url("../images/pool_table.png"); // green theme
@DivBgImgPatternBorderRadius: 5px;

@mainDivWidth: 95%;
@mainDivHeight: 90%;

@videoViewLeft: 0;
@videoViewTop: 0;
@videoViewWidth: 65%;
@videoViewHeight: 70%;

@vidListHeight: 90%;
@vidListPadding: 10px;
@vidListStyleType: none;
@vidListItemPadding: @vidListPadding;

@playerWidth: 100%;
@playerHeight: 100%;

@stackViewLeft: 70%;
@stackViewTop: 0%;
@stackViewWidth: 25%;
@stackViewHeight: 90%;

@stackWidth: 100%;
@stackHeight: 100%;

@navigationViewLeft: 0%;
@navigationViewTop: 75%;
@navigationViewWidth: 68.5%;
@navigationViewHeight: 15%;

@navWidth: 95%;
@navHeight: 100%;
@navTextAlign: center;
@navMarginBottom: -20px;

@currentVideoTitleColor: white;
@currentVideoTitleSize: 2em;

@footerTextAlign: center;
@footerLeft: 0%;
@footerWidth: 100%;
@footerTop: 93%;
@footerHeight: 7%;
@footerMinHeight: 15px;

@titleTextOverflow: ellipsis;
@titleOverflow: hidden;
@titleWhiteSpace: nowrap;

@footerTextColor: grey;
@footerFontFamily: Arial,Helvetica,sans-serif;

/* template */
.RoundedImageBg {
    padding: @DivBgImgPatternPadding;
    background-image: @DivBgImgPatternSource;
    border-radius: @DivBgImgPatternBorderRadius;
}

body {
    margin: @bodyMargin;
    width: @bodyWidth;
    height: @bodyHeight;
    background-image: @bodyBgImgSource;
}

#mainDiv {
    position: absolute;
    width: @mainDivWidth;
    height: @mainDivHeight;
}

#videoView {
    position: absolute;
    left: @videoViewLeft;
    top: @videoViewTop;
    width: @videoViewWidth;
    height: @videoViewHeight;
}

#vidList {
    overflow:auto;
    height: @vidListHeight;
}

#player {
    position: relative;
    .RoundedImageBg;
    width: @playerWidth;
    height: @playerHeight;
}
#stackView {
    position: absolute;
    left: @stackViewLeft;
    top: @stackViewTop;
    width: @stackViewWidth;
    height: @stackViewHeight;
}

#stack {
    position: relative;
    .RoundedImageBg;
    width: @stackWidth;
    height: @stackHeight;
}

#navigationView {
    position: absolute;
    left: @navigationViewLeft;
    top: @navigationViewTop;
    height: @navigationViewHeight;
    width: @navigationViewWidth;
}

#nav {
    position: relative;
    .RoundedImageBg;
    width: @navWidth;
    height: @navHeight;
    text-align: @navTextAlign;
}

#nav > div:first-child {
    margin-bottom: @navMarginBottom;
}

#nav > div:last-child {
    color: @currentVideoTitleColor;
    font-size: @currentVideoTitleSize;
}

#nav > div:last-child > p {
    text-overflow: @titleTextOverflow;
    overflow: @titleOverflow;
    white-space: @titleWhiteSpace;
}

#footer {
    position: fixed;
    .RoundedImageBg;
    text-align: @footerTextAlign;
    left: @footerLeft;
    width: @footerWidth;
    top: @footerTop;
    height: @footerHeight;
    min-height: @footerMinHeight;
}

#footer > p {
    color: @footerTextColor;
    font-family: @footerFontFamily;
    top: 10%;
}

#vidList {
    padding: @vidListPadding;
    list-style-type: @vidListStyleType;
}

#vidList > li {
    padding: @vidListItemPadding;
}

/* hardcored buttons */

#addNext {
   display: -moz-inline-stack;
   display: inline-block;
   width: 57px;
   height: 35px;
   background: url("http://dabuttonfactory.com/b.png?t=Add&f=sans-serif-Bold&ts=20&tc=ffffff00&tshs=1&tshc=22222200&it=png&c=5&bgt=gradient&bgc=47c&ebgc=238&hp=10&vp=10") no-repeat;
   line-height: 35px;
   vertical-align: text-middle;
   text-align: center;
   color: #ffffff;
   font-family: sans-serif;
   font-size: 20px;
   font-weight: bold;
   font-style: normal;
   text-shadow: #222222 1px 1px 0;
   border: 0px;
}

#addNext > span {
   display: -moz-inline-block;
}

#sync {
   border: 0px;
   display: -moz-inline-stack;
   display: inline-block;
   width: 77px;
   height: 35px;
   background: url("http://dabuttonfactory.com/b.png?t=Sync&f=Calibri-Bold&ts=20&tc=ffffff00&tshs=1&tshc=22222200&it=png&c=5&bgt=gradient&bgc=47c&ebgc=238&hp=20&vp=11") no-repeat;
   line-height: 35px;
   vertical-align: text-middle;
   text-align: center;
   color: #ffffff;
   font-family: sans-serif;
   font-size: 20px;
   font-weight: bold;
   font-style: normal;
   text-shadow: #222222 1px 1px 0;
}

#sync > span {
   display: -moz-inline-block;
}

#skip {
   border: 0px;
   display: -moz-inline-stack;
   display: inline-block;
   width: 77px;
   height: 35px;
   background: url("http://dabuttonfactory.com/b.png?t=Sync&f=Calibri-Bold&ts=20&tc=ffffff00&tshs=1&tshc=22222200&it=png&c=5&bgt=gradient&bgc=47c&ebgc=238&hp=20&vp=11") no-repeat;
   line-height: 35px;
   vertical-align: text-middle;
   text-align: center;
   color: #ffffff;
   font-family: sans-serif;
   font-size: 20px;
   font-weight: bold;
   font-style: normal;
   text-shadow: #222222 1px 1px 0;
}

#skip > span {
   display: -moz-inline-block;
}

#nextVid {
  padding: 5px;
  font-size: 15px;
  text-shadow: 0px 1px 0px #fff;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
}

#nextVid:focus {
  border: 1px solid #fafafa;
  -webkit-box-shadow: 0px 0px 6px #007eff;
  -moz-box-shadow: 0px 0px 5px #007eff;
  box-shadow: 0px 0px 5px #007eff;
}